# Entornos virtuales
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.code-workspace

# Variables de entorno
.env
*.env
